<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2>OKUL BİLGİLERİ</h2>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onOkulForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for="">Üniversiteniz *</label>
                            <ng-select [items]="universitler" bindLabel="universiteadi" bindValue="id"
                                (change)="onUniversite($event)" placeholder="Üniversite">
                            </ng-select>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Fakülteniz *</label>
                            <input type="text" class="form-control" formControlName="fakulte" placeholder="Fakülte">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Bölümünüz *</label>
                            <input type="text" class="form-control" formControlName="bolum" placeholder="Bölüm">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Sınıfınız *</label>
                            <ng-select [items]="universitesinif" bindLabel="sinifi" bindValue="id"
                                (change)="onUniversiteSinif($event)" placeholder="Sınıf Seçiniz">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Üniversite Tipi *</label>
                            <ng-select [items]="universitetipleri" bindLabel="universitetipi" bindValue="id"
                                (change)="onUniversiteTipi($event)" placeholder="Üniversite Tipi Seçiniz">
                            </ng-select>
                        </div>
                        <div class="col-lg-6">
                            <label for="">Bursluluk *</label>
                            <ng-select [items]="universiteburslar" bindLabel="bursturu" bindValue="id"
                                (change)="onUniversiteBursTuru($event)" placeholder="Burs Türü Seçiniz">
                            </ng-select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Bitirdiğiniz Lise *</label>
                            <input type="text" class="form-control" formControlName="liseadi" placeholder="Lise Adı">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Bitirdiğiniz Lise Tipi *</label>
                            <ng-select [items]="lisetipleri" bindLabel="lisetipi" bindValue="id"
                                (change)="onLiseTipi($event)" placeholder="Lise Türü">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Bitirdiğiniz Lise Türü *</label>
                            <ng-select [items]="liseler" bindLabel="liseturu" bindValue="id"
                                (change)="onLiseTuru($event)" placeholder="Lise Türü">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2>BURSUN YATIRILACAĞI HESAP BİLGİLERİNİZ</h2>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onBankaForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for="">Banka Adı *</label>
                            <ng-select [items]="bankalar" bindLabel="bankaadi" bindValue="id" (change)="onBanka($event)"
                                placeholder="Banka Seçiniz">
                            </ng-select>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Şube Kodu *</label>
                            <input type="text" class="form-control" formControlName="subekodu" placeholder="Şube Kodu">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for="">Hesap No *</label>
                            <input type="text" class="form-control" formControlName="hesapno" placeholder="Hesap No">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> İBAN No *</label>
                            <input type="text" class="form-control" formControlName="ibanno" placeholder="İBAN No">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for="">İBAN Sahibinin (Hesap Sahibinin) Adı Soyadı *</label>
                            <input type="text" class="form-control" formControlName="ibansahibi"
                                placeholder="Hesap Sahibinin Adı Soyadı">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> T.C. Kimlik No (Hesap Sahibinin) *</label>
                            <input type="text" class="form-control" formControlName="ibansahibitc"
                                placeholder="Hesap Sahibini T.C. Kimlik No">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2>AİLENİN SOSYO-EKONOMİK DURUMU</h2>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onSosyoEkonomiForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Anne Baba Birlikteliği *</label>
                            <ng-select [items]="ailebirlikteligi" bindLabel="birliktelik" bindValue="id"
                                (change)="onAnneBabaBirliktelik($event)" placeholder="Anne Baba Birlikteliği">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3" *ngIf="!babaolu">
                            <label for=""> Babanızın Öğrenim Durumu *</label>
                            <ng-select [items]="ogrenimler" bindLabel="ogrenim" bindValue="id"
                                (change)="onBabaOgrenim($event)" placeholder="Babanızın Öğrenim Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-6" *ngIf="!babaolu">
                            <label for=""> Babanızın Mesleği *</label>
                            <input type="text" class="form-control" placeholder="Babanızın Mesleği"
                                formControlName="babameslek">
                        </div>
                        <div class="col-lg-3" *ngIf="!babaolu">
                            <label for=""> Babanızın Net Geliri *</label>
                            <input type="number" class="form-control" placeholder="Babanızın Net Geliri"
                                formControlName="babagelir">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="!babaolu">
                        <div class="col-lg-9">
                            <label for=""> Babanızın İş Adresi *</label>
                            <input type="text" class="form-control" placeholder="Babanızın İş Adresi"
                                formControlName="babaisadresi">
                        </div>
                        <div class="col-lg-3" *ngIf="!babaolu">
                            <label for=""> Babanızın Cep No *</label>
                            <input type="number" class="form-control" placeholder="Babanızın Cep Telefonu"
                                formControlName="babatelefon">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="!anneolu">
                        <div class="col-lg-3">
                            <label for=""> Anneniz Öğrenim Durumu *</label>
                            <ng-select [items]="ogrenimler" bindLabel="ogrenim" bindValue="id"
                                (change)="onAnneOgrenim($event)" placeholder="Anneniz Öğrenim Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Anneniz Mesleği *</label>
                            <input type="text" class="form-control" placeholder="Anneniz Mesleği"
                                formControlName="annemeslek">
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Anneniz Net Geliri</label>
                            <input type="number" class="form-control" placeholder="Anneniz Net Geliri"
                                formControlName="annegelir">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="!anneolu">
                        <div class="col-lg-9">
                            <label for=""> Anneniz İş Adresi *</label>
                            <input type="text" class="form-control" placeholder="Anneniz İş Adresi"
                                formControlName="anneisadresi">
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Anneniz Cep No *</label>
                            <input type="number" class="form-control" placeholder="Anneniz Cep Telefonu"
                                formControlName="annetelefon">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Varsa, Ailenin Toplam Gelirine Katkı Sağlayan Diğer Aylık Net Gelirler
                                Toplamı *</label>
                            <input type="number" class="form-control" placeholder="Net Gelirler Toplamı"
                                formControlName="ailedigergelirtoplam">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Varsa, Ailenin Toplam Net Gelirine Katkı Sağlayan Diğer Bireyler Hakkında
                                Verilebilecek Bilgiler*
                            </label>
                            <input type="text" class="form-control" placeholder="Net Gelirler Muhteviyatı"
                                formControlName="ailedigergeliraciklama">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Aile üyelerinizde sürekli/ciddi bir sağlık sorunu varmı? (Yoksa Yok
                                Yazınız) *</label>
                            <textarea cols="30" rows="3" class="form-control" formControlName="ailesaglik"
                                placeholder="Sağlık Sorununuzu Yazınız"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Ailenizin İkametgah Adresi *</label>
                            <input type="text" class="form-control" placeholder="Ailenizin İkametgah Adresi"
                                formControlName="aileikametadresi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="">Ailenizin Sabit Telefonu *</label>
                            <input type="number" class="form-control" placeholder="Sabit Telefon"
                                formControlName="sabittelefon">
                        </div>
                        <div class="col-lg-4">
                            <label for="">Ailenin Oturduğu Ev *</label>
                            <ng-select [items]="oturduguev" bindLabel="evdurumu" bindValue="id"
                                (change)="onAileMulkDurum($event)" placeholder="Oturduğunuz Ev Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-4">
                            <label for="">Aylık Kira *</label>
                            <input type="number" class="form-control" placeholder="Aylık Kira"
                                formControlName="ailekira">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2>KARDEŞLERE İLİŞKİN BİLGİLER</h2>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onKardesForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Sizden Hariç Kaç Kardeşiniz Var *</label>
                            <ng-select [items]="kardessayilari" bindLabel="kardes" bindValue="id"
                                (change)="onKardesSayisi($event)" placeholder="Sizden Hariç Kaç Kardeşiniz Var">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="kardesSayisi >=2">
                        <div class="col-lg-3">
                            <label for=""> Adı ve Soyadı *</label>
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="kardes1adisoyadi">
                        </div>
                        <div class="col-lg-1">
                            <label for=""> Yaş *</label>
                            <input type="text" class="form-control" placeholder="Yaş" formControlName="kardes1yas">
                        </div>
                        <div class="col-lg-2">
                            <label for=""> Medeni Durum *</label>
                            <ng-select [items]="medenidurumlar" bindLabel="medenihal" bindValue="id"
                                placeholder="Medeni Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <label for=""> Mesleği *</label>
                            <ng-select [items]="isdurumlari" bindLabel="isdurumu" bindValue="id"
                                placeholder="Mesleği">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <label for=""> Okulu *</label>
                            <input type="text" class="form-control" placeholder="Okulu" formControlName="kardes1okul">
                        </div>
                        <div class="col-lg-2">
                            <label for=""> Aldığı Burs / Net Gelir *</label>
                            <input type="number" class="form-control" placeholder="Yoksa 0 sıfır yazınız"
                                formControlName="kardes1burs">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="kardesSayisi>=3">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="kardes2adisoyadi">
                        </div>
                        <div class="col-lg-1">
                            <input type="text" class="form-control" placeholder="Yaş" formControlName="kardes2yas">
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="medenidurumlar" bindLabel="medenihal" bindValue="id"
                                placeholder="Medeni Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="isdurumlari" bindLabel="isdurumu" bindValue="id"
                                placeholder="İş Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Okulu" formControlName="kardes2okul">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="Yoksa 0 sıfır yazınız."
                                formControlName="kardes2burs">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="kardesSayisi>=4">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="kardes3adisoyadi">
                        </div>
                        <div class="col-lg-1">
                            <input type="text" class="form-control" placeholder="Yaş">
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="medenidurumlar" bindLabel="medenihal" bindValue="id"
                                placeholder="Medeni Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="isdurumlari" bindLabel="isdurumu" bindValue="id"
                                placeholder="İş Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Okulu">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="Yoksa 0 sıfır yazınız">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="kardesSayisi>=5">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="kardes4adisoyadi">
                        </div>
                        <div class="col-lg-1">
                            <input type="text" class="form-control" placeholder="Yaş">
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="medenidurumlar" bindLabel="medenihal" bindValue="id"
                                placeholder="Medeni Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="isdurumlari" bindLabel="isdurumu" bindValue="id"
                                placeholder="İş Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Okulu">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="Yoksa 0 sıfır yazınız">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="kardesSayisi>=6">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="kardes5adisoyadi">
                        </div>
                        <div class="col-lg-1">
                            <input type="text" class="form-control" placeholder="Yaş">
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="medenidurumlar" bindLabel="medenihal" bindValue="id"
                                placeholder="Medeni Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <ng-select [items]="isdurumlari" bindLabel="isdurumu" bindValue="id"
                                placeholder="İş Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Okulu">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="Yoksa 0 sıfır yazınız">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2>KİŞİSEL BİLGİLER</h2>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onKisiselForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Ailemle Birlikte İkamet Edeceğim *</label>
                            <ng-select [items]="aileberaber" bindLabel="beraber" bindValue="id"
                                (change)="onAileileBeraber($event)" placeholder="Aile İkamet Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Ayrı Bir Şehirde İkamet Edeceğim *</label>
                            <ng-select [items]="ailedenberaber" bindLabel="beraber" bindValue="id"
                                (change)="onAiledenAyri($event)" placeholder="Aileden Ayrı İkamet Durumu">
                            </ng-select>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> İkamet Edeceğim Yer *</label>
                            <ng-select [items]="ikametedilecekyer" bindLabel="ikametyeri" bindValue="id"
                                (change)="onIkametYeri($event)" placeholder="İkamet Edilecek Yer">
                            </ng-select>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Yurt Adı *</label>
                            <input type="text" class="form-control" placeholder="Yurt Adı" formControlName="yurtadi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Sürekli bir sağlık sorunuz var mı? Varsa Nedir *</label>
                            <input type="text" class="form-control" placeholder="Sağlık Sorunu"
                                formControlName="sagliksorunu">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Öğrenimdeki Devamlı Adresim *</label>
                            <input type="text" class="form-control" placeholder="Öğrenimdeki Devamlı Adresi"
                                formControlName="ogrenimdekiadres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Kirasını Giriniz. *</label>
                            <input type="text" class="form-control" placeholder="Kira" formControlName="evyurtkirasi">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Diğer Bilgiler *</label>
                            <input type="text" class="form-control" placeholder="Diğer Bilgiler"
                                formControlName="evyurtdiger">
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Sigara Kullanıyor musunuz? *</label>
                            <ng-select [items]="sigaradurumu" bindLabel="sigara" bindValue="id"
                                (change)="onSigara($event)" placeholder="Sigara Kullanımı">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Üyesi Olduğunuz Herhangi Bir Kuruluş, Vakıf, Dernek v.b. Var mı? Varsa
                                nedir bilgi veriniz. *</label>
                            <input type="text" class="form-control" placeholder="Kuruluş, Vakıf, Dernek vb Varsa"
                                formControlName="dernek">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-9">
                            <label for=""> Başka Kurumlardan Burs Alıyorsanız, Bu Kurumların Adları *</label>
                            <input type="text" class="form-control" placeholder="Burs Aldığınız Kurum Adı"
                                formControlName="bursveren">
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Burs Miktarı *</label>
                            <input type="number" class="form-control" placeholder="Burs Miktarı"
                                formControlName="bursmiktari">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-9">
                            <label for=""> Başka Kurumlardan Kredi Alıyorsanız, Bu Kurumların Adları *</label>
                            <input type="text" class="form-control" placeholder="Kredi Aldığınız Kurum Adı"
                                formControlName="krediveren">
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Kredi Miktarı *</label>
                            <input type="number" class="form-control" placeholder="Kredi Miktarı"
                                formControlName="kredimiktari">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Kısaca kendinizden, hedeflerinizden ve diğer eklemek istediğiniz
                                düşüncelerinizden bahsedermisiniz. (Bu alan zorunlu değildir) *</label>
                            <textarea cols="30" rows="3" class="form-control" formControlName="fikirdusunce"
                                placeholder="Kısaca kendinizden, hedeflerinizden ve diğer eklemek istediğiniz düşüncelerinizden bahsedermisiniz"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2>REFERANSLAR</h2>
                <h4>(Bu bölümün doldurulması bursunuzun değerlendirilmesinde önem arz etmektedir.)</h4>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onReferansForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Adı ve Soyadı</label>
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="referans1adisoyadi">
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Yakınlık Derecesi</label>
                            <input type="text" class="form-control" placeholder="Yakınlık Derecesi"
                                formControlName="referans2yakinlik">
                        </div>
                        <div class="col-lg-4">
                            <label for=""> Mesleği/Görevi</label>
                            <input type="text" class="form-control" placeholder="Görevi"
                                formControlName="referans1gorevi">
                        </div>
                        <div class="col-lg-2">
                            <label for="">Cep Telefonu</label>
                            <input type="number" class="form-control" placeholder="Telefonu"
                                formControlName="referans1telefon">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="referans2adisoyadi">
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Yakınlık Derecesi"
                                formControlName="referans1yakinlik">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Görevi"
                                formControlName="referans2gorevi">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="Telefonu"
                                formControlName="referans2telefon">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Adı ve Soyadı"
                                formControlName="referans3adisoyadi">
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Yakınlık Derecesi"
                                formControlName="referans3yakinlik">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Görevi"
                                formControlName="referans3gorevi">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="Telefonu"
                                formControlName="referans3telefon">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h2>BAŞVURU İÇİN GEREKLİ EVRAKLAR</h2>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onEvrakForm" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Referans Mektubu</label>
                            <div class="form-group">
                                <input type="file" name="referansmektubu" (change)="referansMektubu($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> İkametgâh *</label>
                            <div class="form-group">
                                <input type="file" name="ikametgah" (change)="ikametgah($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Sabıka Kaydı *</label>
                            <div class="form-group">
                                <input type="file" name="sabikakaydi" (change)="sabikaKaydi($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Öğrenci Belgesi *</label>
                            <div class="form-group">
                                <input type="file" name="ogrencibelgesi" (change)="ogrenciBelgesi($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label for=""> Transkript *</label>
                            <div class="form-group">
                                <input type="file" name="transkript" (change)="transkrip($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for=""> Nüfus Cüzdanı Fotokopisi *</label>
                            <div class="form-group">
                                <input type="file" name="nufuscuzdani" (change)="nufusCuzdani($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Burs Yatırılacak Hesap Cüzdanı Fotokopisi (Hesap bilgilerinin olduğu kısım
                                olacak) *</label>
                            <div class="form-group">
                                <input type="file" name="hesapcuzdani" (change)="hesapCuzdani($event)"
                                    accept="application/pdf" />
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="text-right">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-outline btn-primary" (click)="formuGonder()"><i
                                        class="fa fa-save"></i>
                                    Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <h2 class="text-danger"><strong> Yıldızlı (*) alanlar zorunlu girilmesi gerekmektedir. Bu
                            alanları doğru
                            girmeye özen gösteriniz.</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>