<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a ngClass="{{tabName=='Lise' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#lise">LİSE</a></li>
                        <li><a ngClass="{{tabName=='Universite' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#universite">ÜNİVERSİTE</a></li>
                        <li><a ngClass="{{tabName=='Banka' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#banka">BANKA BİLGİLERİNİZ</a></li>
                        <li><a ngClass="{{tabName=='Ekonomik' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#ekonomik">SOSYO-EKONOMİK</a></li>
                        <li><a ngClass="{{tabName=='Kardes' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#kardes">KARDEŞ</a></li>
                        <li><a ngClass="{{tabName=='Kisisel' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#kisisel">KİŞİSEL</a></li>
                        <li><a ngClass="{{tabName=='Referans'?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#referans">REFERANS</a></li>
                        <li><a ngClass="{{tabName=='Evrak' ?'nav-link active show':'nav-link disabled'}}"
                                data-toggle="tab" href="#evrak">EVRAK</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" id="lise" ngClass="{{tabName=='Lise' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-lise *ngIf="tabName=='Lise'" [data]="[data]"
                                (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-lise>
                        </div>
                    </div>
                    <div role="tabpanel" id="universite"
                        ngClass="{{tabName=='Universite' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-universite *ngIf="tabName=='Universite'" [data]="[data]"
                                (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-universite>
                        </div>
                    </div>
                    <div role="tabpanel" id="banka" ngClass="{{tabName=='Banka' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-banka *ngIf="tabName=='Banka'" [data]="[data]"
                                (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-banka>
                        </div>
                    </div>
                    <div role="tabpanel" id="ekonomik"
                        ngClass="{{tabName=='Ekonomik' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-ekonomik *ngIf="tabName=='Ekonomik'" [data]="[data]" (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-ekonomik>
                        </div>
                    </div>
                    <div role="tabpanel" id="kardes" ngClass="{{tabName=='Kardes' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <app-ogrenci-kardes *ngIf="tabName=='Kardes'" [data]="[data]" (tabToUpdate)="onTapUpdate($event)">
                                </app-ogrenci-kardes>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="kisisel"
                        ngClass="{{tabName=='Kisisel' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-kisisel *ngIf="tabName=='Kisisel'" [data]="[data]" (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-kisisel>
                        </div>
                    </div>
                    <div role="tabpanel" id="referans"
                        ngClass="{{tabName=='Referans'?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-referans *ngIf="tabName=='Referans'" [data]="[data]" (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-referans>
                        </div>
                    </div>
                    <div role="tabpanel" id="evrak" ngClass="{{tabName=='Evrak' ?'tab-pane active show':'tab-pane'}}">
                        <div class="panel-body">
                            <app-ogrenci-evrak *ngIf="tabName=='Evrak'" [data]="[data]" (tabToUpdate)="onTapUpdate($event)">
                            </app-ogrenci-evrak>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <label class="text-danger">
                            <span class="font-bold"> Yıldızlı (*) alanlar zorunlu girilmesi gerekmektedir. Bu
                                alanları doğru girmeye özen gösteriniz.</span>
                        </label>
                        <br>
                        <label class="text-dark">
                            Form Bilgilerini Doldururken Bilgi Almak veya Sorun Bildirmek İçin <span
                                class="font-bold text-danger">0358 223 0203</span> Numaradan
                            <span class="font-bold text-dark">Sinan ÖZTÜRK</span> Beyle İrtibata Geçebilirsiniz.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>