<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a class="nav-link active show" data-toggle="tab" href="#lise">LİSE</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#universite">ÜNİVERSİTE</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#banka">BANKA</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#ekonomik">SOSYO-EKONOMİK</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#kardes">KARDEŞ</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#kisisel">KİŞİSEL</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#referans">REFERANS</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#evrak">EVRAK</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" id="lise" class="tab-pane active show">
                        <div class="panel-body">
                            <app-ogrenci-lise [ogrenciId]="ogrenciId"></app-ogrenci-lise>
                        </div>
                    </div>
                    <div role="tabpanel" id="universite" class="tab-pane">
                        <div class="panel-body">
                            <app-ogrenci-universite [ogrenciId]="ogrenciId"></app-ogrenci-universite>
                        </div>
                    </div>
                    <div role="tabpanel" id="banka" class="tab-pane">
                        <div class="panel-body">
                            <app-ogrenci-banka [ogrenciId]="ogrenciId"></app-ogrenci-banka>
                        </div>
                    </div>
                    <div role="tabpanel" id="ekonomik" class="tab-pane">
                        <div class="panel-body">
                            <app-ogrenci-ekonomik [ogrenciId]="ogrenciId"></app-ogrenci-ekonomik>
                        </div>
                    </div>
                    <div role="tabpanel" id="kardes" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <app-ogrenci-kardes [ogrenciId]="ogrenciId"></app-ogrenci-kardes>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="kisisel" class="tab-pane">
                        <div class="panel-body">
                            <app-ogrenci-kisisel [ogrenciId]="ogrenciId"></app-ogrenci-kisisel>
                        </div>
                    </div>
                    <div role="tabpanel" id="referans" class="tab-pane">
                        <div class="panel-body">
                            <app-ogrenci-referans [ogrenciId]="ogrenciId"></app-ogrenci-referans>
                        </div>
                    </div>
                    <div role="tabpanel" id="evrak" class="tab-pane">
                        <div class="panel-body">
                            <app-ogrenci-evrak [ogrenciId]="ogrenciId"></app-ogrenci-evrak>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <label class="text-danger">
                            <span class="font-bold"> Yıldızlı (*) alanlar zorunlu girilmesi gerekmektedir. Bu
                                alanları doğru girmeye özen gösteriniz.</span>
                        </label>
                        <br>
                        <label class="text-dark">
                            Form Bilgilerini Doldururken Bilgi Almak veya Sorun Bildirmek İçin <span
                                class="font-bold text-danger">0358 223 0203</span> Numaradan
                            <span class="font-bold text-dark">Sinan ÖZTÜRK</span> Beyle İrtibata Geçebilirsiniz.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>