<form [formGroup]="frmKisisel" autocomplete="off">
    <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> Ailemle Birlikte İkamet Edeceğim *</label>
            <ng-select #ngAileBeraber [items]="aileberaber" bindLabel="aciklama" bindValue="cevap"
                formControlName="aileileikametid" (change)="onAileileBeraber($event)" placeholder="Aile İkamet Durumu">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['aileileikametid'].errors" class="text-danger">
                Aile İkamet Durumu SEçmediniz.
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> Ayrı Bir Şehirde İkamet Edeceğim *</label>
            <ng-select #ngFarkliSehir [items]="farlkliikamet" bindLabel="aciklama" bindValue="cevap"
                formControlName="farkliikametid" (change)="onAiledenAyri($event)"
                placeholder="Aileden Ayrı İkamet Durumu">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['farkliikametid'].errors" class="text-danger">
                Ayrı Bir Şehirde İkamet Durumu Seçmedniz .
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> İkamet Edeceğim Yer *</label>
            <ng-select #IkametYer [items]="ikameteyeri" bindLabel="aciklama" bindValue="id"
                formControlName="ikametyeriid" (change)="onIkametYeri($event)" placeholder="İkamet Edilecek Yer">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['ikametyeriid'].errors" class="text-danger">
                İkamet Edeceğim Yeri Seçmediniz.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label> Yurt Adı *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="yurtadi" [readonly]="this.yurtDisable" placeholder="Yurt Adı">
            <div *ngIf="submitted && getControlRequest['yurtadi'].errors" class="text-danger">
                Kalacağınız Yurt Bilgisiniz Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label> Sürekli bir sağlık sorunuz var mı? Varsa Nedir *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="saglikdurumu" placeholder="Sağlık Sorunu">
            <div *ngIf="submitted && getControlRequest['saglikdurumu'].errors" class="text-danger">
                Sağlık Durumunuz Hakkında Bilgi Veriniz.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label> Öğrenimdeki Devamlı Adresim *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="adres" placeholder="Öğrenimdeki Devamlı Adresi">
            <div *ngIf="submitted && getControlRequest['adres'].errors" class="text-danger">
                Öğrenimdeki Devamlı Adresinizi Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> Kirasını Giriniz. *</label>
            <input type="text" class="form-control" mask="separator" thousandSeparator="." formControlName="kira"
                placeholder="Kira">
            <div *ngIf="submitted && getControlRequest['kira'].errors" class="text-danger">
                Kira bilgisini Yazmadınız.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label> Diğer Bilgiler *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="diger" placeholder="Diğer Bilgiler">
            <div *ngIf="submitted && getControlRequest['diger'].errors" class="text-danger">
                Diğer Bilgiler Alanı Boş Bıraktınız.
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> Sigara Kullanıyor musunuz? *</label>
            <ng-select #ngSigara [items]="sigarakullanim" bindLabel="aciklama" bindValue="cevap"
                formControlName="sigaraid" (change)="onSigara($event)" placeholder="Sigara Kullanımı">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['sigaraid'].errors" class="text-danger">
                Sigara Kullanımına Cevap Vermediniz.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label> Üyesi Olduğunuz Herhangi Bir Kuruluş, Vakıf, Dernek v.b. Var
                mı? Varsa nedir bilgi veriniz. *</label>
            <input type="text" class="form-control" formControlName="uyekurum"
                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                placeholder="Kuruluş, Vakıf, Dernek vb Varsa">
            <div *ngIf="submitted && getControlRequest['uyekurum'].errors" class="text-danger">
                Üyesi Olduğunuz Herhangi Bir Kuruluş, Vakıf, Dernek v.b. Hakkında Bilgi Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <label> Başka Kurumlardan Burs Alıyorsanız,
                Bu Kurumların Adları *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="kurumburs" placeholder="Burs Aldığınız Kurum Adı">
            <div *ngIf="submitted && getControlRequest['kurumburs'].errors" class="text-danger">
                Kurumlardan Burs Alıp Almadığınız Hakkında Yazmadınız.
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> Burs Miktarı *</label>
            <input type="text" class="form-control" formControlName="burs" mask="separator" thousandSeparator="."
                placeholder="Burs Miktarı">
            <div *ngIf="submitted && getControlRequest['burs'].errors" class="text-danger">
                Burs Miktarını Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <label> Başka Kurumlardan Kredi Alıyorsanız,
                Bu Kurumların Adları *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="kurumkredi" placeholder="Kredi Aldığınız Kurum Adı">
            <div *ngIf="submitted && getControlRequest['kurumkredi'].errors" class="text-danger">
                Kurumlardan Kredi Alıp Almadığınız Hakkında Yazmadınız.
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label> Kredi Miktarı *</label>
            <input type="text" class="form-control" formControlName="kredi" mask="separator" thousandSeparator="."
                placeholder="Kredi Miktarı">
            <div *ngIf="submitted && getControlRequest['kredi'].errors" class="text-danger">
                Kredi Miktarını Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <label> Herhangi Bir İşletmede Çalışıp Gelir Elde
                Ediyor musunuz? *</label>
            <ng-select #ngIsletme [items]="calismadurumu" bindLabel="aciklama" bindValue="cevap"
                formControlName="calisiyor" (change)="onCalisma($event)"
                placeholder="Herhangi Bir İşletmede Çalışıyor Musunuz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['calisiyor'].errors" class="text-danger">
                Bir İşletmede Çalışma Durumunuza Dair Seçim Yapmadınız.
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label>Aylık Kazanç Miktarı *</label>
            <input type="text" class="form-control" formControlName="ekgelir" mask="separator" thousandSeparator="."
                placeholder="Aylık Kazanç Miktarı">
            <div *ngIf="submitted && getControlRequest['ekgelir'].errors" class="text-danger">
                Aylık Kazanç Miktarı Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label> Kısaca kendinizden, hedeflerinizden ve diğer eklemek
                istediğiniz düşüncelerinizden bahsedermisiniz. (Bu alan zorunlu değildir) </label>
            <textarea cols="30" rows="3" class="form-control" formControlName="hakkinda"
                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                placeholder="Kısaca kendinizden, hedeflerinizden ve diğer eklemek istediğiniz düşüncelerinizden bahsedermisiniz"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" (click)="backBilgi()"> Geri</button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 offset-4">
            <div class="text-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" (click)="insertBilgi()" *ngIf="!EdittoUpdate"> Kaydet
                        ve İlerle</button>
                    <button type="submit" class="btn btn-primary" (click)="updateBilgi()" *ngIf="EdittoUpdate"> Güncelle
                        ve İlerle</button>
                </div>
            </div>
        </div>
    </div>
</form>