<form [formGroup]="frmUniversite" autocomplete="off">
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>Üniversiteniz *</label>
            <ng-select #ngUniversite [items]="universitler" bindLabel="universiteadi" bindValue="id"
                (change)="onUniversite($event)" formControlName="universiteid" placeholder="Üniversite Seçiniz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['universiteid'].errors" class="text-danger">
                Üniversite Seçmediniz.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label> Fakülteniz *</label>
            <ng-select #ngFakulte [items]="fakulteler" bindLabel="fakulteadi" bindValue="id"
                (change)="onFakulte($event)" formControlName="fakulteid" placeholder="Fakülte Seçiniz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['fakulteid'].errors" class="text-danger">
                Fakülte Seçmediniz.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label> Bölümünüz *</label>
            <input type="text" class="form-control" oninput="this.value=this.value.toLocaleUpperCase('tr-TR')"
                formControlName="bolum" maxlength="50" placeholder="Bölüm">
            <div *ngIf="submitted && getControlRequest['bolum'].errors" class="text-danger">
                Bölümünüzü Yazmadınız.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>Sınıfınız *</label>
            <ng-select #ngSinif [items]="siniflar" bindLabel="sinif" bindValue="id" (change)="onSinif($event)"
                formControlName="sinifid" placeholder="Sınıf Seçiniz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['sinifid'].errors" class="text-danger">
                Sınıf Seçmediniz.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label> Üniversite Tipi *</label>
            <ng-select #ngTuru [items]="turler" bindLabel="turu" bindValue="id" (change)="onTuru($event)"
                formControlName="turid" placeholder="Üniversite Tipi Seçiniz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['turid'].errors" class="text-danger">
                Üniversite Tipi Seçmediniz.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>Vakıf (Özel) Üniversitesi Bursluluk Oranı*</label>
            <ng-select #ngBurs [items]="burslar" bindLabel="burs" bindValue="id" (change)="onBurs($event)"
                formControlName="bursid" placeholder="Burs Türü Seçiniz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['bursid'].errors" class="text-danger">
                Burs Türünü Seçmediniz.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="checkbox checkbox-success">
                <label class="checkbox" for="okumuyor">
                    <input id="okumuyor" type="checkbox" formControlName="okuyor" (change)="isChecked($event)" />
                    Üniversite Okumuyorum
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" (click)="backBilgi()"> Geri</button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 offset-4">
            <div class="text-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" (click)="insertBilgi()"
                        *ngIf="!EdittoUpdate && !universite"> Kaydet
                        ve İlerle</button>
                    <button type="submit" class="btn btn-primary" (click)="updateBilgi()"
                        *ngIf="EdittoUpdate && !universite"> Güncelle
                        ve İlerle</button>
                </div>
            </div>
        </div>
    </div>
</form>