<div class="form-group row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="text-right">
            <button class="btn btn-success" (click)="onYeniEvrak()"> Evrak Ekle</button>
        </div>
    </div>
</div>
<form [formGroup]="frmEvrak" autocomplete="off">
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="ColumnMode.flex" [limit]="30"
                [headerHeight]="40" [footerHeight]="40" rowHeight="auto" [scrollbarH]="true">
                <ngx-datatable-column name="Belge Adı" [sortable]="false" [flexGrow]="2.5">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.belgeadi }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Belge Boyutu" [sortable]="false" [flexGrow]="0.5">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.belgeboyut / 1048576 | number }} Mb
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Belge Türü" [sortable]="false" [flexGrow]="0.6">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="row.belgeuzanti==='.pdf'">Pdf</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Link" [sortable]="false" [flexGrow]="0.5">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a href="{{evrakAdresi + row.belgeyolu}}" target="_blank">İndir</a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="#" [sortable]="false" [flexGrow]="0.4">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" (click)="onDelete(rowIndex,row)"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" (click)="backBilgi()"> Geri</button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 offset-4">
            <div class="text-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-warning" (click)="endToBurs()">
                        Sonlandır
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal inmodal fade" id="modalEvrak" data-backdrop="static" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Referans Kayıt Formu</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ng-select [items]="evraktur" bindLabel="aciklama" bindValue="id"
                                    (change)="onEvrakTuru($event)" placeholder="Evrak Türü">
                                </ng-select>
                                <div *ngIf="submitted && getControlRequest['evrakadi'].errors" class="text-danger">
                                    Evrak Türünü Seçmediniz.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input id="evrak" type="file" accept="application/pdf" (change)="onEvrak($event)">
                                <div *ngIf="submitted && getControlRequest['evrak'].errors" class="text-danger">
                                    Evrak eklemediniz.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Kapat</button>
                        <button class="btn btn-primary" (click)="onEvrakEkle()"> Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="ibox-content">
    <div class="text-left">
        <label>
            <span class="font-bold"> Önemli Uyarı</span>
            <br>
            Aşağıda yazılı olan belgelerden <span class="text-danger font-bold">Kırmızı</span> olarak işaretlenmiş
            olan belgeler zorunludur. Eksik olması durumunda başvrunuz geçerli olmayacaktır.
            <br>
            <span class="text-dark font-bold">Referans Mektubu</span>,
            <span ngClass="{{Ikametgah==true ?'text-dark font-bold':'text-danger font-bold'}}">İkametgâh</span>,
            <span ngClass="{{SabikaKaydi==true ?'text-dark font-bold':'text-danger font-bold'}}">Sabıka Kaydı</span>,
            <span ngClass="{{OgrenciBelgesi==true ?'text-dark font-bold':'text-danger font-bold'}}">Öğrenci
                Belgesi</span>,
            <span ngClass="{{Transkript==true ?'text-dark font-bold':'text-danger font-bold'}}">Transkript</span>,
            <span ngClass="{{NufusCuzdani==true ?'text-dark font-bold':'text-danger font-bold'}}">Nüfus Cüzdanı
                Fotokopisi</span>,
            <span ngClass="{{HesapCuzdani==true ?'text-dark font-bold':'text-danger font-bold'}}">Hesap Cüzdanı
                Fotokopisi</span>
        </label>
    </div>
</div>