<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>BURS İSTEĞİNDE BULUNAN ÖĞRENCİNİN ÖN BİLGİ FORMU</h5>
            </div>
            <div class="ibox-content">
                <form [formGroup]="onBilgiForm" (ngSubmit)="sendOnBilgi()" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="profile-image">
                                <img [src]="yuklenecekResim" class="rounded-circle circle-border m-b-md" alt="profile">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Fotoğraf Yükle
                                        *</span>
                                    <input type="file" name="ogrenciresim" accept="image/*"
                                        (change)="secilenResim($event)"></span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput"
                                    style="float: none">×</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> T.C. Kimlik No *</label>
                            <input type="text" class="form-control" formControlName="tckimlik"
                                placeholder="T.C. Kimlik No"
                                onkeypress="if (event.keyCode != 8 && event.keyCode != 0 && (event.keyCode < 48 || event.keyCode > 57)) return false;"
                                maxlength="11" minlength="11" (keyup)="onTcKimlikKontrol($event)">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Başvuru Tarihi *</label>
                            <my-date-picker [options]="myDatePickerOptions" [locale]="locale"
                                [selDate]="basvurutarihi" (dateChanged)="onBasvuruTarihi($event)"
                                placeholder="Başvuru Tarihi">
                            </my-date-picker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for="">Hangi Birimimizin Referansı Üzerinden Başvuru Yapıyorsunuz (Eğer herhangi bir
                                birim üzerinden referansınız yoksa lütfen Holding Seçiniz) *</label>
                            <ng-select [items]="firmalar" bindLabel="unvani" bindValue="id" formControlName="firmaid"
                                (change)="onSirket($event)" placeholder="Firma Seçiniz">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label for=""> Adı Soyadı *</label>
                            <input type="text" class="form-control" formControlName="adisoyadi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Baba Adı *</label>
                            <input type="text" class="form-control" formControlName="babaadi">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Anne Adı *</label>
                            <input type="text" class="form-control" formControlName="anneadi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Doğum Yeri *</label>
                            <input type="text" class="form-control" formControlName="dogumyeri">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Doğum Tarihi *</label>
                            <my-date-picker #dogumTarihi [options]="myDatePickerOptions" [locale]="locale"
                                placeholder="Doğum Tarihi" [selDate]="dogumtarihi"
                                (dateChanged)="onDogumTarihi($event)">
                            </my-date-picker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Cinsiyet *</label>
                            <ng-select [items]="cinsiyetler" bindLabel="cinsiyeti" bindValue="id"
                                formControlName="cinsiyet" (change)="onCinsiyet($event)" placeholder="Cinsiyet Seçiniz">
                            </ng-select>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Medeni Durum *</label>
                            <ng-select [items]="medenidurumlar" bindLabel="medenihal" bindValue="id"
                                formControlName="medenidurum" (change)="onMedeniDurum($event)"
                                placeholder="Medeni Durum Seçiniz">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for=""> Cep Telefonu *</label>
                            <input type="text" class="form-control" formControlName="ceptelefonu"
                                placeholder="Cep Telefonu"
                                onkeypress="if (event.keyCode != 8 && event.keyCode != 0 && (event.keyCode < 48 || event.keyCode > 57)) return false;"
                                maxlength="11" minlength="11">
                        </div>
                        <div class="col-lg-6">
                            <label for=""> E-Mail Adresi *</label>
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="E-Mail Adresi Giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="text-right">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-outline btn-primary" [disabled]="kayitVar"><i
                                            class="fa fa-save"></i>
                                        Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <h2 class="text-danger"><strong> Yıldızlı (*) alanlar zorunlu girilmesi gerekmektedir. Bu
                            alanları doğru
                            girmeye özen gösteriniz.</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>