<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>BURS İSTEĞİNDE BULUNAN ÖĞRENCİNİN ÖN BİLGİ FORMU</h5>
            </div>
            <div class="ibox-content">
                <form [formGroup]="frmOnBilgi" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="profile-image">
                                <img [src]="yuklenecekResim" class="rounded-circle circle-border m-b-md" alt="profile">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="custom-file">
                                <input id="ogrenciresim" type="file" class="custom-file-input" accept="image/*"
                                    (change)="secilenResim($event)">
                                <label for="ogrenciresim" class="custom-file-label">Fotoğraf Yükle...</label>
                                <div *ngIf="submitted && getControlRequest['resimyolu'].errors" class="text-danger">
                                    Resim eklemediniz.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> T.C. Kimlik No *</label>
                            <input type="text" class="form-control" formControlName="tckimlik"
                                placeholder="T.C. Kimlik No"
                                onkeypress="if (event.keyCode != 8 && event.keyCode != 0 && (event.keyCode < 48 || event.keyCode > 57)) return false;"
                                maxlength="11" (keyup)="onTcKimlikKontrol($event)">
                            <div *ngIf="submitted && getControlRequest['tckimlik'].errors" class="text-danger">
                                TC Kimlik Numaranızı girmediniz.
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> Adı Soyadı *</label>
                            <input type="text" class="form-control" formControlName="adisoyadi"
                                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')">
                            <div *ngIf="submitted && getControlRequest['adisoyadi'].errors" class="text-danger">
                                Ad Soyad bilginizi girmediniz.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="">Hangi Birimimizin Referansı Üzerinden Başvuru Yapıyorsunuz (Eğer herhangi bir
                                birim üzerinden referansınız yoksa lütfen Holding Seçiniz) *</label>
                            <ng-select #ngFirma [items]="firmalar" bindLabel="unvani" bindValue="id"
                                (change)="onSirket($event)" formControlName="firmaid" placeholder="Firma Seçiniz">
                            </ng-select>
                            <div *ngIf="submitted && getControlRequest['firmaid'].errors" class="text-danger">
                                Herhangi bir firma seçmediniz.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> Baba Adı *</label>
                            <input type="text" class="form-control" formControlName="babaadi"
                                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')">
                            <div *ngIf="submitted && getControlRequest['babaadi'].errors" class="text-danger">
                                Baba adı bilginizi girmediniz.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Anne Adı *</label>
                            <input type="text" class="form-control" formControlName="anneadi"
                                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')">
                            <div *ngIf="submitted && getControlRequest['anneadi'].errors" class="text-danger">
                                Anne adı bilginizi girmediniz.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> Doğum Yeri *</label>
                            <input type="text" class="form-control" formControlName="dogumyeri"
                                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')">
                            <div *ngIf="submitted && getControlRequest['dogumyeri'].errors" class="text-danger">
                                Doğum yeri bilginizi girmediniz.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Doğum Tarihi *</label>
                            <my-date-picker [options]="myDatePickerOptions" [locale]="locale" placeholder="Doğum Tarihi"
                                [selDate]="dogumtarihi" (dateChanged)="onDogumTarihi($event)">
                            </my-date-picker>
                            <div *ngIf="submitted && getControlRequest['dogumtarihi'].errors" class="text-danger">
                                Doğum Tarihi girmediniz.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> Cinsiyet *</label>
                            <ng-select #ngCinsiyet [items]="cinsiyetler" bindLabel="cinsiyeti" bindValue="id"
                                formControlName="cinsiyetid" (change)="onCinsiyet($event)"
                                placeholder="Cinsiyet Seçiniz">
                            </ng-select>
                            <div *ngIf="submitted && getControlRequest['cinsiyetid'].errors" class="text-danger">
                                Cinsiyet seçmediniz.
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> Medeni Durum *</label>
                            <ng-select #ngMedeniHal [items]="medenidurumlar" bindLabel="durumu" bindValue="id"
                                formControlName="medenihalid" (change)="onMedeniDurum($event)"
                                placeholder="Medeni Durum Seçiniz">
                            </ng-select>
                            <div *ngIf="submitted && getControlRequest['medenihalid'].errors" class="text-danger">
                                Medeni Hali seçmediniz.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> Cep Telefonu *</label>
                            <input type="text" class="form-control" formControlName="ceptelefonu"
                                mask='(0000) 000 00 00' [validation]="true" [showMaskTyped]="true"
                                placeholder="Cep Telefonu">
                            <div *ngIf="submitted && getControlRequest['ceptelefonu'].errors" class="text-danger">
                                Cep Telefonu girmediniz.
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for=""> E-Mail Adresi *</label>
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="E-Mail Adresi Giriniz">
                            <div *ngIf="submitted && getControlRequest['email'].errors" class="text-danger">
                                Email adresini girmediniz.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="text-right">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary" (click)="insertBilgi()"
                                        *ngIf="!EdittoUpdate"> Kaydet
                                    </button>
                                    <button type="submit" class="btn btn-primary" (click)="updateBilgi()"
                                        *ngIf="EdittoUpdate"> Güncelle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <label class="text-danger">
                        <span class="font-bold"> Yıldızlı (*) alanlar zorunlu girilmesi gerekmektedir. Bu
                            alanları doğru girmeye özen gösteriniz.</span>
                    </label>
                    <br>
                    <label class="text-dark">
                        Form Bilgilerini Doldururken Bilgi Almak veya Sorun Bildirmek İçin <span
                            class="font-bold text-danger">0358 223 0203</span> Numaradan
                        <span class="font-bold text-dark">Sinan ÖZTÜRK</span> Beyle İrtibata Geçebilirsiniz.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>