<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h2>KVKK Bilgilendirme Metni</h2>
            </div>
            <div class="ibox-content">
                <div class="scroll_content">
                    <p class="text-justify">
                        Fimar Mermer Maden A.Ş. (Şirket) tarafından veri sorumlusu sıfatıyla; Burs başvurunuz kapsamında
                        6698 Sayılı Kişisel Verilerin Korunması Kanununa ( Kanun) uygun işlenen kişisel verileriniz
                        bulunmaktadır.
                    </p>

                    <p class="text-justify">
                        İşbu aydınlatma metnini değerlendirmenizi ve Şirketimizin hangi amaçlarla veri işlediği
                        konusunda bilgilenmenizi istiyoruz. Vereceğiniz bilgiler ile Şirketimiz tarafından diğer
                        adaylarla beraber bir değerlendirme yapılarak sonuca göre burs temini sağlanacaktır. Kişisel
                        verileriniz Kanun’un 5. ve 6.maddesinde yer alan hukuka uygunluk sebeplerine göre işlenmektedir.
                        Buna göre burs için gerekli olan kişisel verileriniz Şirketimizin meşru menfaati kapsamında
                        işlenirken, sağlık verileriniz ve adli sicil kaydınız açık rızanıza binaen işlenmektedir.
                        Kanun’un 11. maddesinde yer alan haklara sahip olduğunuzu ve bu madde kapsamında Şirketimize
                        başvuruda bulunabileceğinizi hatırlatırız. Kvkk ile alaklı merak ettiğiniz bilgileri,
                        Şirketimize yazılı olarak posta adresinden veya
                        kvkk@fimar.com.tr e-mail adresinden talep edebilirsiniz.
                    </p>
                    <p class="text-justify">
                        Tarafınızca baz alınan bu değerlendirmelerde burs alacak kişilerin bilgilerinin yanı sıra aile
                        üyelerinin de bilgileri de Şirketimizin burs verme kriterleri açısından gereklidir. Buna göre
                        velisi olduğunuz kişi veya sizin tarafınızdan sağlanan bilgilerin hukuka uygun alındığını ve
                        Şirketimizle paylaşıldığını taahhüt etmektesiniz. Paylaşmış olduğunuz verilieriniz Şirketimiz
                        server sistemlerinde güvenli bir şekilde burslu olduğunuz süreye ek olarak +10 yıl boyunca
                        saklanacak olup, 3. taraf kişilerle paylaşılmamaktadır. Tarafınızca Şirketimize verilen kişisel
                        veriler bakımından herhangi bir hukuka aykırılık tespit edilmesi halinde veya Şirketimiz
                        nezdinde herhangi bir zararın meydana gelmesi halinde sizin veya velinizin sorumlu olduğunu
                        hatırlatırız. İlaveten, bilgilerin hatalı olması nedeniyle, Şirketin bir zarara uğraması halinde
                        bu zararın sorumluluğunun sizin üzerinizde olduğunu hatırlatırız.
                    </p>
                    <p class="text-justify">
                        İşbu Burs Başvuru Formunda yer alan aydınlatma metnini okudum, anladım. Metin içeriğini ,
                        paylaştığım kişisel verileri ve yükümlülüklerimi kabul eder, kişisel verilerimin belirtilen
                        kapsamda işlenmesini ve açık rızaya tabi verilerime açık rıza vermekle beraber bu verilerin
                        Fimar Mermer Maden A.Ş'nin grup şirketleri ile paylaşılmasını onaylarım.
                    </p>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox checkbox-success">
                            <label class="checkbox" for="kvkkonay">
                                <input id="kvkkonay" type="checkbox" (change)="isChecked($event)" /> Kabul Ediyorum
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <button type="button" class="btn btn-outline btn-default" [disabled]="!kvkkOnay"
                                (click)="onOgrenciForm()">Sonraki Forma Geç</button>
                        </div>
                    </div>
                </div>
                <br>
                <h2>
                    FORM BİLGİLERİNİ DOLDURUKEN BİLGİ ALMAK VEYA SORUN BİLDİRMEK İÇİN 0544 592 75 63 NUMARADAN SİNAN
                    ÖZTÜRK BEYLE İRTİBATA GEÇEBİLİRSİNİZ.
                </h2>
            </div>            
        </div>
    </div>
</div>