<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h2>KVKK Bilgilendirme Metni</h2>
            </div>
            <div class="ibox-content">
                <div class="scroll_content">
                    <p class="text-justify">
                        Fimar Mermer Maden A.Ş. (Şirket) tarafından veri sorumlusu sıfatıyla; Burs başvurunuz kapsamında
                        6698 Sayılı Kişisel Verilerin Korunması Kanununa ( Kanun) uygun işlenen kişisel verileriniz
                        bulunmaktadır.
                    </p>

                    <p class="text-justify">
                        İşbu aydınlatma metnini değerlendirmenizi ve Şirketimizin hangi amaçlarla veri işlediği
                        konusunda bilgilenmenizi istiyoruz. Vereceğiniz bilgiler ile Şirketimiz tarafından diğer
                        adaylarla beraber bir değerlendirme yapılarak sonuca göre burs temini sağlanacaktır. Kişisel
                        verileriniz Kanun’un 5. ve 6.maddesinde yer alan hukuka uygunluk sebeplerine göre işlenmektedir.
                        Buna göre burs için gerekli olan kişisel verileriniz Şirketimizin meşru menfaati kapsamında
                        işlenirken, sağlık verileriniz ve adli sicil kaydınız açık rızanıza binaen işlenmektedir.
                        Kanun’un 11. maddesinde yer alan haklara sahip olduğunuzu ve bu madde kapsamında Şirketimize
                        başvuruda bulunabileceğinizi hatırlatırız. Kvkk ile alaklı merak ettiğiniz bilgileri,
                        Şirketimize yazılı olarak posta adresinden veya
                        kvkk@fimar.com.tr e-mail adresinden talep edebilirsiniz.
                    </p>
                    <p class="text-justify">
                        Tarafınızca baz alınan bu değerlendirmelerde burs alacak kişilerin bilgilerinin yanı sıra aile
                        üyelerinin de bilgileri de Şirketimizin burs verme kriterleri açısından gereklidir. Buna göre
                        velisi olduğunuz kişi veya sizin tarafınızdan sağlanan bilgilerin hukuka uygun alındığını ve
                        Şirketimizle paylaşıldığını taahhüt etmektesiniz. Paylaşmış olduğunuz verilieriniz Şirketimiz
                        server sistemlerinde güvenli bir şekilde burslu olduğunuz süreye ek olarak +10 yıl boyunca
                        saklanacak olup, 3. taraf kişilerle paylaşılmamaktadır. Tarafınızca Şirketimize verilen kişisel
                        veriler bakımından herhangi bir hukuka aykırılık tespit edilmesi halinde veya Şirketimiz
                        nezdinde herhangi bir zararın meydana gelmesi halinde sizin veya velinizin sorumlu olduğunu
                        hatırlatırız. İlaveten, bilgilerin hatalı olması nedeniyle, Şirketin bir zarara uğraması halinde
                        bu zararın sorumluluğunun sizin üzerinizde olduğunu hatırlatırız.
                    </p>
                    <p class="text-justify">
                        İşbu Burs Başvuru Formunda yer alan aydınlatma metnini okudum, anladım. Metin içeriğini ,
                        paylaştığım kişisel verileri ve yükümlülüklerimi kabul eder, kişisel verilerimin belirtilen
                        kapsamda işlenmesini ve açık rızaya tabi verilerime açık rıza vermekle beraber bu verilerin
                        Fimar Mermer Maden A.Ş'nin grup şirketleri ile paylaşılmasını onaylarım.
                    </p>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox checkbox-success">
                            <label class="checkbox" for="kvkkonay">
                                <input id="kvkkonay" type="checkbox" (change)="isChecked($event)" /> Kabul Ediyorum
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <button type="button" class="btn btn-outline btn-default" [disabled]="!isChecked"
                                (click)="onOgrenciForm()">Sonraki Forma Geç</button>
                        </div>
                    </div>
                </div>
                <br>
                <label class="text-dark">
                    Form Bilgilerini Doldururken Bilgi Almak veya Sorun Bildirmek İçin <span
                        class="font-bold text-danger">0358 223 0203</span> Numaradan
                    <span class="font-bold text-dark">Sinan ÖZTÜRK</span> Beyle İrtibata Geçebilirsiniz.
                </label>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="modal inmodal fade" id="modalDuyuru" data-backdrop="static" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="text-center"><span class="text-danger font-bold">ÖNEMLİ UYARI</span> </h1>
                    <p style="font-size:large ;">
                        <br> Sevgili öğrenciler, burs kontenjanı sınırlı olduğu için başvurularınız
                        <span class="font-bold text-dark">Burs Değerlendirme Komisyonu</span> tarafından
                        değerlendirilecek
                        olup belli değerlendirme kriterlerine göre sonuçlandırılacak ve başvurusu kabul edilen
                        öğrencilere
                        duyurulacaktır.
                        <br>
                        <br>
                         <span class="text-dark font-bold">Son Başvuru Tarihi: 30.09.2022</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="onModalKapat()"> Okudum</button>
                </div>
            </div>
        </div>
    </div>