<form [formGroup]="frmBanka" autocomplete="off">
    <div class="form-group row">
        <div class="col-lg-6">
            <label for="">Banka Adı *</label>
            <ng-select #ngBanka [items]="bankalar" bindLabel="bankaadi" bindValue="id" (change)="onBanka($event)"
                formControlName="bankaid" placeholder="Banka Seçiniz">
            </ng-select>
            <div *ngIf="submitted && getControlRequest['bankaid'].errors" class="text-danger">
                Banka Seçmediniz.
            </div>
        </div>
        <div class="col-lg-6">
            <label for=""> Şube Kodu *</label>
            <input type="text" class="form-control" formControlName="subekodu" mask="000000000" maxlength="9"
                [validation]="true" placeholder="Şube Kodu (9 Hane)">
            <div *ngIf="submitted && getControlRequest['subekodu'].errors" class="text-danger">
                Şube Kodu Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <label for="">Hesap No *</label>
            <input type="text" class="form-control" formControlName="hesapno" mask="000000000" maxlength="9"
                [validation]="true" placeholder="Hesap No (9 Hane)">
            <div *ngIf="submitted && getControlRequest['hesapno'].errors" class="text-danger">
                Hesap No Yazmadınız.
            </div>
        </div>
        <div class="col-lg-6">
            <label for=""> İBAN No *</label>
            <input type="text" class="form-control" formControlName="iban" prefix="TR"
                mask="00 0000 0000 0000 0000 0000 00" [validation]="true" [showMaskTyped]="true"
                (keyup)="onIbanKontrol($event)" placeholder="İBAN No">
            <div *ngIf="submitted && getControlRequest['iban'].errors" class="text-danger">
                İBAN No Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <label for="">İBAN Sahibinin (Hesap Sahibinin) Adı Soyadı *</label>
            <input type="text" class="form-control" formControlName="ibansahibi"
                oninput="this.value=this.value.toLocaleUpperCase('tr-TR')" placeholder="Hesap Sahibinin Adı Soyadı">
            <div *ngIf="submitted && getControlRequest['ibansahibi'].errors" class="text-danger">
                Hesap Sahibinin Adı Soyadını Yazmadınız.
            </div>
        </div>
        <div class="col-lg-6">
            <label for=""> T.C. Kimlik No (Hesap Sahibinin) *</label>
            <input type="text" class="form-control" formControlName="hesaptc" mask="00000000000"
                (keyup)="onTcKimlikKontrol($event)" placeholder="Hesap Sahibini T.C. Kimlik No">
            <div *ngIf="submitted && getControlRequest['hesaptc'].errors" class="text-danger">
                Hesap Sahibini T.C. Kimlik Numarasını Yazmadınız.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" (click)="backBilgi()"> Geri</button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 offset-4">
            <div class="text-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" (click)="insertBilgi()" *ngIf="!EdittoUpdate"> Kaydet
                        ve İlerle</button>
                    <button type="submit" class="btn btn-primary" (click)="updateBilgi()" *ngIf="EdittoUpdate"> Güncelle
                        ve İlerle</button>
                </div>
            </div>
        </div>
    </div>
</form>