<form [formGroup]="frmEkonomik" autocomplete="off">
    <div class="form-group row">
        <div class="col-lg-3">
            <label for=""> Anne Baba Birlikteliği *</label>
            <ng-select [items]="ailebirlikteligi" bindLabel="birliktelik" bindValue="id"
                (change)="onAnneBabaBirliktelik($event)"
                placeholder="Anne Baba Birlikteliği">
            </ng-select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <label for=""> Babanızın Öğrenim Durumu *</label>
            <ng-select [items]="ogrenimler" bindLabel="ogrenim" bindValue="id"
                (change)="onBabaOgrenim($event)" placeholder="Babanızın Öğrenim Durumu">
            </ng-select>
        </div>
        <div class="col-lg-6">
            <label for=""> Babanızın Mesleği *</label>
            <input type="text" class="form-control" placeholder="Babanızın Mesleği"
                formControlName="babameslek">
        </div>
        <div class="col-lg-3">
            <label for=""> Babanızın Net Geliri *</label>
            <input type="number" class="form-control" placeholder="Babanızın Net Geliri"
                formControlName="babagelir">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-9">
            <label for=""> Babanızın İş Adresi *</label>
            <input type="text" class="form-control" placeholder="Babanızın İş Adresi"
                formControlName="babaisadresi">
        </div>
        <div class="col-lg-3">
            <label for=""> Babanızın Cep No *</label>
            <input type="number" class="form-control"
                placeholder="Babanızın Cep Telefonu" formControlName="babatelefon">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <label for=""> Anneniz Öğrenim Durumu *</label>
            <ng-select [items]="ogrenimler" bindLabel="ogrenim" bindValue="id"
                (change)="onAnneOgrenim($event)" placeholder="Anneniz Öğrenim Durumu">
            </ng-select>
        </div>
        <div class="col-lg-6">
            <label for=""> Anneniz Mesleği *</label>
            <input type="text" class="form-control" placeholder="Anneniz Mesleği"
                formControlName="annemeslek">
        </div>
        <div class="col-lg-3">
            <label for=""> Anneniz Net Geliri</label>
            <input type="number" class="form-control" placeholder="Anneniz Net Geliri"
                formControlName="annegelir">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-9">
            <label for=""> Anneniz İş Adresi *</label>
            <input type="text" class="form-control" placeholder="Anneniz İş Adresi"
                formControlName="anneisadresi">
        </div>
        <div class="col-lg-3">
            <label for=""> Anneniz Cep No *</label>
            <input type="number" class="form-control" placeholder="Anneniz Cep Telefonu"
                formControlName="annetelefon">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <label for=""> Varsa, Ailenin Toplam Gelirine Katkı Sağlayan Diğer Aylık Net
                Gelirler
                Toplamı *</label>
            <input type="number" class="form-control" placeholder="Net Gelirler Toplamı"
                formControlName="ailedigergelirtoplam">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <label for=""> Varsa, Ailenin Toplam Net Gelirine Katkı Sağlayan Diğer
                Bireyler Hakkında
                Verilebilecek Bilgiler*
            </label>
            <input type="text" class="form-control"
                placeholder="Net Gelirler Muhteviyatı"
                formControlName="ailedigergeliraciklama">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <label for=""> Aile üyelerinizde sürekli/ciddi bir sağlık sorunu varmı?
                (Yoksa Yok
                Yazınız) *</label>
            <textarea cols="30" rows="3" class="form-control"
                formControlName="ailesaglik"
                placeholder="Sağlık Sorununuzu Yazınız"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <label for=""> Ailenizin İkametgah Adresi *</label>
            <input type="text" class="form-control"
                placeholder="Ailenizin İkametgah Adresi"
                formControlName="aileikametadresi">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label for="">Ailenizin Sabit Telefonu *</label>
            <input type="number" class="form-control" placeholder="Sabit Telefon"
                formControlName="sabittelefon">
        </div>
        <div class="col-lg-4">
            <label for="">Ailenin Oturduğu Ev *</label>
            <ng-select [items]="oturduguev" bindLabel="evdurumu" bindValue="id"
                (change)="onAileMulkDurum($event)" placeholder="Oturduğunuz Ev Durumu">
            </ng-select>
        </div>
        <div class="col-lg-4">
            <label for="">Aylık Kira *</label>
            <input type="number" class="form-control" placeholder="Aylık Kira"
                formControlName="ailekira">
        </div>
    </div>
</form>